<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Swagger Petstore API Tests">
    <test thread-count="5" name="Pet store Testcases">
        <classes>
            <class name="PetsTest"/>
            <class name="StoreTest"/>
            <class name="UserTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
